/*=============CSS RESET START==================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=============CSS RESET END==================*/

/*============= Fonts ===============*/

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/fonts/open-sans-v20-latin-ext_latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v20-latin-ext_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("/fonts/open-sans-v20-latin-ext_latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v20-latin-ext_latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("/fonts/open-sans-v20-latin-ext_latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/open-sans-v20-latin-ext_latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Circular Std";
  src: local(""), local(""),
    url("/fonts/CircularStd-Book.woff2") format("woff2"),
    url("/fonts/CircularStd-Book.woff") format("woff"),
    url("CircularStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*============= Fonts End ===============*/

/*============COMMON STYLES START============*/

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--main-background);
  color: var(--main-text-color, #fff);
  line-height: 1.4;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}

picture {
  display: inline-flex;
}

:focus {
  outline: 3px solid #000;
}

button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  border: 0;
}
/*===========Css Variables ==========*/
:root {
  --main-text-color: #fff;
  --secondary-text-color: #3a68b8;
  --main-background: #020a18;
}
/*========== Container ==========*/
.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}
/*=========== Buttons ==========*/
.btn__primary {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--secondary-text-color);
  margin-right: 20px;
}
.btn__primary:hover,
.btn__primary:active,
.btn__primary:focus {
  color: var(--main-background);
}
.btn__login {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  background-color: var(--secondary-text-color);
}
.btn__login:hover,
.btn__login:active,
.btn__login:focus {
  color: var(--main-background);
}
.btn__video {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--secondary-text-color);
}
.btn__video:hover,
.btn__video:active,
.btn__video:focus {
  color: var(--main-background);
  transition: 0.3s;
}
.btn__play-icon {
  margin-right: 10px;
  align-self: center;
}

/*=========== Header & Nav ==========*/
.header {
  width: 100%;
  padding: 40px 0 40px 0;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header__link:hover,
.header__link:active,
.header__link:focus {
  color: var(--secondary-text-color);
}
.header__logo-link {
  align-items: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}
.header__logo-pic {
  margin-right: 15px;
}
/*=========== Intro Main ==========*/
.main__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__intro {
  padding: 70px 0 90px 0;
}
.container__text {
  width: 605px;
}
.main__subtitle {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  line-height: 1.3;
}
.main__title {
  font-weight: 800;
  font-size: 55px;
  line-height: 1.3;
  margin: 10px 0 40px 0;
}
.main__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 50px;
}
.main__img {
  width: 630px;
  height: 630px;
}
/*=========== Main logo`s ==========*/
.main__logo {
  width: 100%;
  padding: 89px 0 230px 0;
}
/*=========== Sub-section ==========*/
.sub-section__img {
  width: 725px;
  height: 670px;
}
.container__sub-text {
  width: 485px;
}
.sub-section__title {
  font-size: 39px;
  line-height: 1.3;
  font-weight: bold;
}
.section__link {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--secondary-text-color);
  border-radius: 5px;
}
.section__link:hover,
.section__link:active,
.section__link:focus {
  color: var(--main-background);
}
.sub-section__text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  margin: 30px 0 50px 0;
}
/*=========== Section with cards ==========*/
.section__cards {
  padding: 170px 0 170px 0;
  width: 100%;
}
.container__cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
}
.card {
  width: 362px;
  border-radius: 10px;
  background: linear-gradient(
    190deg,
    rgba(255, 255, 255, 0.01),
    #ffffff 199.68%
  );
}
.card__inner {
  width: 300px;
  margin: 0 auto;
}
.card__logo {
  margin: 30px 0 30px 0;
}
.first__logo {
  margin: 50px 0 45px 0;
}
.card__header {
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
}
.card__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  margin: 30px 0 30px 0;
}
/*=========== Section With Clients Review ==========*/
.section__clients {
  padding-bottom: 170px;
}
.clients__text {
  width: 550px;
}
.review__text {
  margin: 20px 0 20px 0;
}
.clients__title {
  margin-bottom: 39px;
  font-weight: 700;
}
.clients__section-img {
  width: 640px;
  height: 550px;
}
/*=========== Footer ==========*/
.footer {
  padding: 100px 0 150px 0;
  background: var(--main-background);
}
.footer__container {
  align-items: flex-start;
  font-family: "Circular Std", sans-serif;
}
.footer__header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 32px;
}
.footer__header-logo {
  margin: 9px 0 9px 0;
  color: var(--secondary-text-color);
}
.footer__text {
  font-weight: 450;
  opacity: 0.6;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 27px;
}
.footer__link {
  text-decoration: none;
  opacity: 0.6;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.footer__link:hover {
  color: var(--secondary-text-color);
  transition: 0.3s;
}
.footer__adress {
  width: 260px;
}
.adress__logo {
  margin-right: 10px;
}
.link__colored {
  opacity: 1;
}
.footer__about {
  width: 260px;
}
.footer__social {
  display: flex;
}
.footer__icon {
  margin-right: 25px;
  font-size: 18px;
}
.footer__globe-icon {
  margin-top: 45px;
  font-size: 14px;
}
.fa-globe-americas {
  margin-right: 10px;
}
/*=========== Footer End==========*/
